/*
 *= require_tree .
 *= require_self
 */
@import "bootstrap-sprockets";
@import "bootstrap";

body {
  padding-top: 50px
}

.progress {
  margin: 20px;
}

.item-active {
  height: 200px;
  width: 100%;
}

.carousel-inner{
  width: 80%;
  max-height: 350px !important;
}

#criterea {
  margin-top: 30px;
}

.noty_text {
  font-size: 12px;
  font-weight: normal;
}

.container {
  margin: 0 auto;

  .starter-template {
    text-align: center;
    padding: 40px 15px;
  }
}